# Introduction To Data Science â€“ Assignment 1

---

### Sections A â€“ B â€“ C â€“ D

---

***Instructions***

Due Date: Sunday 18th September 2022 â€“ 11:59PM

Name the file in the format Lyyxxxx and save it as .ipynb (e.g. L201234.ipynb)

Submission will be taken on **GitHub and Google Classroom (submit the .ipynb file)** - Instructions to upload onto GitHub are provided in the link https://docs.google.com/document/d/1BR1ULOGeGWJVU6Rr6Qty1FR-quVRZyRvQGII6nEs-wo/edit?usp=sharing

After uploading and submitting the .ipynb file onto Google Classroom, also private comment the link to the GitHub repository.

All source files needed to complete this assignment can be found on the following Google Drive link https://drive.google.com/drive/folders/1VrkaVcExGWqilSeh50WZe4gUBjmUiJ9b?usp=sharing

TA Emails

Section A, C - Muhammad Maarij l192347@lhr.nu.edu.pk

Section B, D - Hira Ijaz l192377@lhr.nu.edu.pk

Happy Coding ðŸ˜Š

---

---
## Question 1
---

Define a procedure called "check_input" that takes an input as a square list of lists (2D Matrix of N x N) and returns a boolen "true" if the input is valid or "false" otherwise, according to the following criteria.

1. Each coloumn must contain numbers from between 1 and N, with no duplicates.
2. Each row must contain numbers from between 1 and N, with no duplicates.

In [ ]:
# define procedure here

In [ ]:
# run this block to test code after defining the procedure

test1 = [[1, 2, 3],
        [2, 3, 1],
        [3, 1, 2]]

test2 = [[1, 2, 3, 4],
        [2, 3, 1, 3],
        [3, 1, 2, 3],
        [4, 4, 4, 4]]

test3 = [['a', 'b', 'c'],
        ['b', 'c', 'a'],
        ['c', 'a', 'b']]

print(check_input(test1)) # must return true
print(check_input(test2)) # must return false
print(check_input(test3)) # must return false

---
## Question 2
---

**Part A** - Import the file "StudentMarkSheet.csv" as a Pandas DataFrame and print the information for the dataframe

In [17]:
import pandas as pnd
StMarks = pnd.read_csv("StudentMarkSheet.csv")
StMarks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student name  200 non-null    object
 1   Exam name     199 non-null    object
 2   Exam date     200 non-null    object
 3   Marks         197 non-null    float64
dtypes: float64(1), object(3)
memory usage: 6.4+ KB

**Part B** - Remove any rows that do not contain all the data. Also print the following information.

1. Number of rows before
2. Number of rows containing null data
3. Number of rows after

In [18]:
temp = StMarks.copy()
print("Num Of Rows = ",len(StMarks))
StMarks = StMarks.dropna() #This function drop rows that contain Null Data.
null_rows = len(StMarks) - len(temp)
print("NULL Rows = ",null_rows)
print("Number Of Rows After = ", len(temp))
StMarks = StMarks.reset_index()

Num Of Rows =  200
NULL Rows =  -4
Number Of Rows After =  200

**Part C** - Print all the marks along with the subject for the student named "James Walker"

In [ ]:
StMarks.loc[StMarks['Student name'] == 'James Walker'] #loc function locates in file and prints automatically.

---
## Question 3
---

**Part A** - From the DataFrame created in Question 2, calculate the average marks for each subject

In [19]:
Biology_Table = StMarks.loc[StMarks['Exam name'] == 'Biology'] 

Biology_Marks = Biology_Table['Marks'] 

Biology_Total = 0
index = len(Biology_Marks) 
count = 0 
TotalValues = 0 

for count in range(index):
  TotalValues += 1
  Biology_Total = Biology_Total + Biology_Marks[count]

Biology_Mean =  Biology_Total/TotalValues
print("The average Biology marks are :",Biology_Mean)



Chemistry_Table = StMarks.loc[StMarks['Exam name'] == 'Chemistry']

Chemistry_Marks = Chemistry_Table['Marks']

Chemistry_Total = 0
index = index + len(Chemistry_Marks) 
count = count + 1 
TotalValues = 0

for count in range(count,index): 
   TotalValues += 1
   Chemistry_Total = Chemistry_Total + Chemistry_Marks[count]

Chemistry_Mean = Chemistry_Total/TotalValues
print("The average Chemistry marks are :", Chemistry_Mean)



Maths_Table = StMarks.loc[StMarks['Exam name'] == 'Mathematics']

Maths_Marks = Maths_Table['Marks']

Maths_Total = 0
index = index + len(Maths_Marks)
count = count + 1
TotalValues = 0

for count in range(count,index):
   TotalValues += 1
   Maths_Total = Maths_Total + Maths_Marks[count]

Maths_Mean = Maths_Total/TotalValues
print("The average Math marks are :", Maths_Mean)



Philosophy_Table = StMarks.loc[StMarks['Exam name'] == 'Philosophy']

Philosophy_Marks = Philosophy_Table['Marks']

Philosophy_Total = 0
index = index + len(Philosophy_Marks)
count = count + 1
TotalValues = 0

for count in range(count,index):
   TotalValues += 1
   Philosophy_Total = Philosophy_Total + Philosophy_Marks[count]

Philosophy_Mean = Philosophy_Total/TotalValues
print("The average Philosophy marks are :", Philosophy_Mean)



Physics_Table = StMarks.loc[StMarks['Exam name'] == 'Physics']

Physics_Marks = Physics_Table['Marks']

PhysicsTotal = 0
index = index + len(Physics_Marks)
count = count + 1
TotalValues = 0

for count in range(count,index):
  TotalValues+= 1
  Physics_Total = Physics_Total + Physics_Marks[count]

Physics_Mean = Physics_Total/TotalValues
print("The average Physics marks are :", Physics_Mean)



Sociology_Table = StMarks.loc[StMarks['Exam name'] == 'Sociology']

Sociology_Marks = Sociology_Table['Marks']

Sociology_Total = 0
index = index + len(Sociology_Marks)
count = count + 1
TotalValues = 0

for count in range(count,index):
  TotalValues+= 1
  Sociology_Total = Sociology_Total + Sociology_Marks[count]

Sociology_Mean = Sociology_Total/TotalValues
print("The average Sociology marks are :", Sociology_Mean)

The average Biology marks are : 47.89473684210526
The average Chemistry marks are : 50.57692307692308
The average Math marks are : 48.97222222222222
The average Philosophy marks are : 47.270270270270274

NameError: ignored

**Part B** - Using the averages you just calculated, plot a Bar Graph showing the average marks of each subject

---
## Question 4
---

**Part A** - Import the file "CatData.csv" and preprocess it to remove any null values

In [ ]:
import pandas as pnd
Cat = pnd.read_csv("CatData.csv")
Cat = Cat.dropna()
Cat = Cat.reset_index()

**Part B** - Identify the independant and dependant variables (comment answer below)

In [ ]:
# dependant variable: Tail
# independant variable: Mass

**Part C** - Create a linear regression model using sklearn and fit it to the data you just imported

In [ ]:
from sklearn import linear_model

**Part D** - Print the values for slope and y-intercept

**Part E** - Plot a scatter graph of the original data and a regression line on the same figure (example with dummy data shown below)

![](https://drive.google.com/uc?export=view&id=1o_NAsNjfx7zAh9m-UjvWB3rta6uraKdY)